* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: rgb(255,230,165);
    background: linear-gradient(90deg, rgb(248, 222, 156) 0%, rgba(181,139,80,1) 70%);
    color: black;
    font-weight: 400;
}

footer {
    background: rgb(255,230,165);
    background: linear-gradient(90deg, rgba(255,230,165,1) 0%, rgba(181,139,80,1) 70%); 
    color: black;
    font-family: 'Assistant', sans-serif;
    font-size: small;
    text-align: center;
}

.footer-titulo {
    color: black;
}

.footer-lista {
    list-style: none;
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
}

.footer-lista a {
    list-style: none;
    color: black;
}

.footer-lista a:hover {
    color: black;
}



.buscador-2 {
    position: relative;
    height:50px;
    width:400px;
}
.buscador-2 .form-search {
    position:absolute;
    right:0px;
    top:0px;
}

.buscador-2 .form-search input[type=text] {
    -webkit-appearance: textfield;
    /* -webkit-box-sizing: content-box; */
    font-family: inherit;
    font-size: 100%;
    border: solid 1px #ccc;
    padding: 9px 9px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.buscador-2 .form-search input[type=text] {
    width:60px;
    position:absolute;
    right:0px;
    z-index:1000;
    padding:5.5px 5.5px;
    cursor:pointer;
    text-align: center;
}
.buscador-2 .form-search div.input-group {
    width:50px;
}
.buscador-2 .form-search input[type=text]:focus {
    position:absolute;
    right:60px;
    width:250px;
}

.buscador-2 .form-search button.btn {
    padding:12px 12px;
    border-top-right-radius:5px;
}


/* PRODUCTOS - RECETAS */
.productos .card {
    border-color: #c29b5f;
}
.productos .card h2 {
    background-color: #c29b5f;
    -webkit-text-stroke: 1px black;
    color: #ffffff;
}
.atitulo {
    color: #c29b5f;
}
.atitulo a:hover {
    color: #c29b5f;
    text-decoration: none;
}
.boton {
    background-color: #fee5a4;
    border-color: #7a5011;
    color: black;
}
.boton:hover {
    background-color: #a5a29e;
    border-color: #7a5011;
    color: black;
}
.card:hover .imagefect {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card {
    overflow: hidden;
}
.navul {
    background-color: #c29b5f;
}
.anav {
    color: #a5a29e;
    background-color: #ffe195;
    text-decoration: none;
}
.anav:hover {
    color: black;
    text-decoration: none;
}
.receta {
    color: #c29b5f;
    text-decoration: none;
}
.receta:hover {
    color: #a5a29e;
    text-decoration: none;
}